textarea{
    margin: auto;
    display: block;
    margin-top: 20px;
    width: 20%;
    height: 100px;
    resize: none;
    border: 2px solid black;
    background-color: rgb(10, 124, 230);
    color: white;
    padding: 5px;
}
#count{
    margin: auto;
    display: block;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
}